<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Konsumwage Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script src="{{ url_for("frontend.static", filename="jquery-3.1.1.min.js") }}" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for("frontend.static", filename="dashboard.css") }}" media="screen" charset="utf-8">
  </head>
  <body>
    <section class="stats">
      <div class="stat">
        <div class="number">
          <span id="current_consumption">0</span> <span class="frac"><sup>l</sup><span>/</span><sub>sec</sub></span>
        </div>
        <span class="title">Current</span>
      </div>
      <div class="stat">
        <div class="number">
          <span id="average_consumption">0</span> <span class="frac"><sup>l</sup><span>/</span><sub>sec</sub></span>
        </div>
        <span class="title">Average</span>
      </div>
      <div class="stat">
        <div class="number">
          <span id="total_consumption">0</span> l
        </div>
        <span class="title">Total</span>
      </div>
    </section>
    <section id=graph>
      <canvas id="canvas"></canvas>
    </section>
    <section id="social">
      <a href="https://twitter.com/uberardy">@uberardy</a> • DECT: ARDY (2739)
    </section>
    <script src="{{ url_for("frontend.static", filename="dashboard.js") }}" charset="utf-8"></script>
  </body>
</html>
